{% extends 'generic/object_children.html' %}
{% load helpers %}
{% load i18n %}

{% block extra_controls %}
  {% if perms.netbox_aci_plugin.add_acibridgedomainl3outbinding %}
    {% with viewname=object|viewname:"" %}
      <a href="{% url 'plugins:netbox_aci_plugin:acibridgedomainl3outbinding_add' %}?aci_bridge_domain={{ object.pk }}&aci_fabric={{ object.aci_fabric.pk }}&aci_tenant={{ object.aci_tenant.pk }}&aci_vrf={{ object.aci_vrf.pk }}&return_url={% url viewname pk=object.pk %}" class="btn btn-primary">
        <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Attach an L3Out" %}
      </a>
    {% endwith %}
  {% endif %}
{% endblock %}
