
{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:aciaaepdomainbinding_list' %}?aci_fabric_id={{ object.aci_aaep.aci_fabric.pk }}">{{ object.aci_aaep.aci_fabric }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:aciaaepdomainbinding_list' %}?aci_aaep_id={{ object.aci_aaep.pk }}">{{ object.aci_aaep }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "ACI AAEP Domain Binding" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "ACI Fabric" %}</th>
            <td>{{ object.aci_aaep.aci_fabric|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI AAEP" %}</th>
            <td>{{ object.aci_aaep|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI Domain Object Type" %}</th>
            <td>{{ object.aci_domain_object_type.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI Domain Object" %}</th>
            <td>{{ object.aci_domain_object|linkify }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
