
{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acicontractsubjectfilter_list' %}?aci_tenant_id={{ object.aci_contract_subject.aci_contract.aci_tenant.pk }}">{{ object.aci_contract_subject.aci_contract.aci_tenant }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acicontractsubjectfilter_list' %}?aci_contract_id={{ object.aci_contract_subject.aci_contract.pk }}">{{ object.aci_contract_subject.aci_contract }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acicontractsubjectfilter_list' %}?aci_contract_subject_id={{ object.aci_contract_subject.pk }}">{{ object.aci_contract_subject }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "ACI Contract Subject Filter" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "ACI Tenant" %}</th>
            <td>{{ object.aci_contract_subject.aci_contract.aci_tenant|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI Contract" %}</th>
            <td>{{ object.aci_contract_subject.aci_contract|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI Contract Subject" %}</th>
            <td>{{ object.aci_contract_subject|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI Contract Filter" %}</th>
            <td>{{ object.aci_contract_filter|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Action" %}</th>
            <td>{% badge object.get_action_display bg_color=object.get_action_color %}</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h2 class="card-header">{% trans "Direction Settings" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Apply Direction" %}</th>
            <td>{% badge object.get_apply_direction_display bg_color=object.get_apply_direction_color %}</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h2 class="card-header">{% trans "Directives Settings" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Logging enabled" %}</th>
            <td>{% checkmark object.log_enabled %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Policy Compression enabled" %}</th>
            <td>{% checkmark object.policy_compression_enabled %}</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h2 class="card-header">{% trans "Priority" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "(Deny) Priority" %}</th>
            <td>{% badge object.get_priority_display bg_color=object.get_priority_color %}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
