
{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:aciendpointgroupdomainbinding_list' %}?aci_fabric_id={{ object.aci_epg_object.aci_fabric.pk }}">{{ object.aci_epg_object.aci_fabric }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:aciendpointgroupdomainbinding_list' %}?aci_epg_object_id={{ object.aci_epg_object.pk }}">{{ object.aci_epg_object }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "ACI Endpoint Group Domain Binding" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "ACI EPG Object Type" %}</th>
            <td>{{ object.aci_epg_object_type.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI EPG Object" %}</th>
            <td>{{ object.aci_epg_object|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI Domain Object Type" %}</th>
            <td>{{ object.aci_domain_object_type.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI Domain Object" %}</th>
            <td>{{ object.aci_domain_object|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Deployment Immediacy" %}</th>
            <td>{% badge object.get_deployment_immediacy_display bg_color=object.get_deployment_immediacy_color %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Resolution Immediacy" %}</th>
            <td>{% badge object.get_resolution_immediacy_display bg_color=object.get_resolution_immediacy_color %}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
