
{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:aciendpointgroupaaepbinding_list' %}?aci_fabric_id={{ object.aci_aaep.aci_fabric.pk }}">{{ object.aci_aaep.aci_fabric }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:aciendpointgroupaaepbinding_list' %}?aci_aaep_id={{ object.aci_aaep.pk }}">{{ object.aci_aaep }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "ACI Endpoint Group AAEP Binding" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "ACI Endpoint Group" %}</th>
            <td>{{ object.aci_endpoint_group|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI AAEP" %}</th>
            <td>{{ object.aci_aaep|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Mode" %}</th>
            <td>{% badge object.get_mode_display bg_color=object.get_mode_color %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Deployment Immediacy" %}</th>
            <td>{% badge object.get_deployment_immediacy_display bg_color=object.get_deployment_immediacy_color %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "NetBox VLAN" %}</th>
            <td>{{ object.nb_vlan|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Encap VLAN ID" %}</th>
            <td>{{ object.encap_vlan_id|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Effective Encap VLAN ID" %}</th>
            <td>{{ object.effective_encap_vlan_id|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Primary NetBox VLAN" %}</th>
            <td>{{ object.primary_nb_vlan|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Primary Encap VLAN ID" %}</th>
            <td>{{ object.primary_encap_vlan_id|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Effective Primary Encap VLAN ID" %}</th>
            <td>{{ object.effective_primary_encap_vlan_id|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
