{% extends 'generic/object.html' %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acileafinterfaceoverride_list' %}?aci_fabric_id={{ object.aci_fabric.pk }}">{{ object.aci_fabric }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acileafinterfaceoverride_list' %}?aci_pod_id={{ object.aci_node_interface.aci_node.aci_pod.pk }}">{{ object.aci_node_interface.aci_node.aci_pod }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acileafinterfaceoverride_list' %}?aci_node_id={{ object.aci_node_interface.aci_node.pk }}">{{ object.aci_node_interface.aci_node }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acileafinterfaceoverride_list' %}?aci_node_interface_id={{ object.aci_node_interface.pk }}">{{ object.aci_node_interface }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "ACI Leaf Interface Override" %}</h2>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "ACI Fabric" %}</th>
          <td>{{ object.aci_fabric|linkify }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "ACI Node Interface" %}</th>
          <td>{{ object.aci_node_interface|linkify }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "ACI Leaf Interface Policy Group" %}</th>
          <td>{{ object.aci_leaf_interface_policy_group|linkify }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Description" %}</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock content %}
