{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acinodeinterface_list' %}?aci_fabric_id={{ object.aci_fabric.pk }}">{{ object.aci_fabric }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acinodeinterface_list' %}?aci_pod_id={{ object.aci_node.aci_pod.pk }}">{{ object.aci_node.aci_pod }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:acinodeinterface_list' %}?aci_node_id={{ object.aci_node.pk }}">{{ object.aci_node }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "ACI Node Interface" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "ACI Node" %}</th>
            <td>{{ object.aci_node|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "NetBox Interface" %}</th>
            <td>{{ object.nb_interface|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Module" %}</th>
            <td>{{ object.module }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Port" %}</th>
            <td>{{ object.port }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Sub Port" %}</th>
            <td>{% if object.sub_port %}{{ object.sub_port }}{% else %}{{ ''|placeholder }}{% endif %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Interface Token" %}</th>
            <td>{{ object.interface_token }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "NetBox Tenant" %}</th>
            <td>
                {% if object.nb_tenant.group %}
                    {{ object.nb_tenant.group|linkify }} /
                {% endif %}
                {{ object.nb_tenant|linkify|placeholder }}
            </td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">
          {% trans "Leaf Interface Override" %}
          <div class="card-actions">
            {% if not object.aci_leaf_interface_override and perms.netbox_aci_plugin.add_acileafinterfaceoverride %}
              <a href="{% url 'plugins:netbox_aci_plugin:acileafinterfaceoverride_add' %}?aci_fabric={{ object.aci_fabric.pk }}&aci_pod={{ object.aci_node.aci_pod.pk }}&aci_node={{ object.aci_node.pk }}&aci_node_interface={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
                <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Add an Override" %}
              </a>
            {% endif %}
            {% if object.aci_leaf_interface_override and perms.netbox_aci_plugin.change_acileafinterfaceoverride %}
              <a href="{% url 'plugins:netbox_aci_plugin:acileafinterfaceoverride_edit' pk=object.aci_leaf_interface_override.pk %}?return_url={{ object.get_absolute_url }}" class="btn btn-ghost-warning btn-sm">
                <i class="mdi mdi-pencil" aria-hidden="true"></i> {% trans "Edit" %}
              </a>
            {% endif %}
            {% if object.aci_leaf_interface_override and perms.netbox_aci_plugin.delete_acileafinterfaceoverride %}
              <a href="{% url 'plugins:netbox_aci_plugin:acileafinterfaceoverride_delete' pk=object.aci_leaf_interface_override.pk %}?return_url={{ object.get_absolute_url }}" class="btn btn-ghost-danger btn-sm">
                <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> {% trans "Delete" %}
              </a>
            {% endif %}
          </div>
        </h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Leaf Interface Override" %}</th>
            <td>{{ object.aci_leaf_interface_override|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Leaf Interface Policy Group" %}</th>
            <td>{{ object.aci_leaf_interface_override.aci_leaf_interface_policy_group|linkify|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
