
{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">

        <h5 class="card-header">ACI Tenant</h5>

          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Alias</th>
              <td>{{ object.alias }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "NetBox Tenant" %}</th>
              <td>
                  {% if object.nb_tenant.group %}
                      {{ object.nb_tenant.group|linkify }} /
                  {% endif %}
                  {{ object.nb_tenant|linkify|placeholder }}
              </td>
          </tr>
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
