
{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:aciusegnetworkattribute_list' %}?aci_tenant_id={{ object.aci_tenant.pk }}">{{ object.aci_tenant }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:aciusegnetworkattribute_list' %}?aci_app_profile_id={{ object.aci_app_profile.pk }}">{{ object.aci_app_profile }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_aci_plugin:aciusegnetworkattribute_list' %}?aci_useg_endpoint_group_id={{ object.aci_useg_endpoint_group.pk }}">{{ object.aci_useg_endpoint_group }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "ACI uSeg Network Attribute" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "ACI Tenant" %}</th>
            <td>{{ object.aci_tenant|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI Application Profile" %}</th>
            <td>{{ object.aci_app_profile|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ACI uSeg Endpoint Group" %}</th>
            <td>{{ object.aci_useg_endpoint_group|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Name Alias" %}</th>
            <td>{{ object.name_alias|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Type" %}</th>
            <td>{% badge object.get_type_display bg_color=object.get_type_color %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "NetBox Tenant" %}</th>
            <td>
                {% if object.nb_tenant.group %}
                    {{ object.nb_tenant.group|linkify }} /
                {% endif %}
                {{ object.nb_tenant|linkify|placeholder }}
            </td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h2 class="card-header">{% trans "EPG Subnet Settings" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Use EPG Subnet" %}</th>
            <td>{% checkmark object.use_epg_subnet %}</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <h2 class="card-header">{% trans "Attribute Assignment" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Attribute Object Type" %}</th>
            <td>{{ object.attr_object_type.name|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Attribute Object" %}</th>
            <td>{{ object.attr_object|linkify|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
